*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

html { 
    background: url(Images/flower.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
/*--------------------------------------------HEADER----------------------------------------------------*/
.head-container{
    display: flex;       
    flex-wrap: wrap;
}

.header-text{
    width: 65%;
    height: 65vh;
    margin-top: 6rem;
    margin-left: 10rem;
    padding: 2rem;
    font-size: 8rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}


#header-left, #header-right{
    text-shadow: 3px 3px 5px #cae0eb;
    padding: 1rem;
    width: 100%;
    height: 50%;
}

#header-left{
    animation: slideright 2s;
    text-align: left;
}

#header-right{
    animation: slideleft 3s;   
    padding-left: 10rem;
    overflow: hidden;
}
#header-right span{
    margin-right: 0;
}
.dynamic-text{
    position: relative;
}
.dynamic-text:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    border-left: 2px solid red;
    background-color: #1E1E1E;
    animation: typing 4s steps(11) infinite;
    
    /* animation-delay: 3s; */
}


@keyframes slideleft{
    from{
        transform: translatex(300%)
    }
}
@keyframes slideright{
    from{
        transform: translatex(-300%)
    }
}
@keyframes typing{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

/*--------------------------------------------MENU NAVIGATION----------------------------------------------------*/

.navigation{
    display: flex;
    flex-direction: column;   
    width: 20vw;
    padding: 3rem;
    
}

.touch-button{   
    cursor: pointer;
    padding: 1rem ;
    margin-top: 10rem;
    background-color: transparent;
    border: 1px ridge gainsboro;
    border-radius: 50%;
   
}
.touch-button svg{
    width: 100%;
}

.touch-button:hover{
  
    transform: scale(1.2);
}

/*--------------------------------------------DROPDOWN----------------------------------------------------*/
.dropdown {
    background-color: transparent;
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;   
    /* right: 160px; */
    visibility:hidden;
    padding: 150px 250px;
}

.dropdown-content{
    box-shadow: none, none, 2px 2px grey;
    /* margin-top: 200px;
    margin-left: 300px; */
}

.dropdown-content li{
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-content li a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}
.dropdown-content li a:hover{
    font-size: 3.2rem;
    color: #FFC9C0;
}

.close-button{
    position: absolute;
    right: 250px;
    cursor: pointer;
}