:root{
    --text-color: white;
}
*{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    box-sizing: border-box;
    /* border: 1px solid white; */
}

html { 
    background: url(Images/flower.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/*--------------------------------------------HEADER----------------------------------------------------*/
.header-container{
    display: flex;       
    flex-wrap: wrap;  
    justify-content: space-between;  
}

.header-text-container{
    width: 60%;
    margin-top: 10%;
    margin-left: 12%;
    padding: 1%;
    font-size: 6em;
    font-weight: normal;
}

.header-text{
    text-shadow: 3px 3px 5px #cae0eb;
    padding: 1%;
    width: 100%;
    height: 50%;
}

.left{   
    text-align: left;
}

.right{
    padding-left: 15%;
    overflow: hidden;
    
}

.right span{
    position: relative;
}

.dynamic-text:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 115%;
    border-left: 2px solid #cc1515;
    background-color: #1E1E1E;
    animation: typing 4s steps(13) infinite;
    
}


@keyframes typing{
    40%, 60%{
        left: calc(100%);
    }
    100%{
        left: 0;
    }
}

/*--------------------------------------------MENU NAVIGATION----------------------------------------------------*/

.nav-bar{
    width: 23%;
    padding-left: 3rem;
    padding-right: 3rem;
       
}

.nav-btn{       
    width: 100%;
    cursor: pointer;    
    margin-top: 15%;  
    background-color: transparent;
    border: none;  
}

.nav-btn svg{
    width: 180px;
    height: 180px;
    padding: 20%;
    border: 1px ridge var(--text-color);
    border-radius: 50%;
}

.nav-btn:hover{ 
    transform: scale(1.1);
}
/* bar-menu for smaller screen */

.phone-nav{
    width: 20%;
    align-self: flex-end;
    visibility: hidden;
}
.phone-nav:hover{
    transform: scale(1.3);
    fill: aqua;
}



/*--------------------------------------------DROPDOWN----------------------------------------------------*/
.dropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;   
    visibility:hidden;
    padding: 10% 20%;
}

.dropdown-content{
    padding: 5%;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 8%;
}

.dropdown-content li{
    list-style-type: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

.dropdown-content li a{
    text-decoration: none;
    font-size: 3em;
    font-weight: normal;
}
.dropdown-content li a:hover{
    font-size: 3.2em;
    color: #FFC9C0;
}

.close-btn{
    position: absolute;
    right: 25%;
    top: 25%;
    cursor: pointer;
}

/* media querry for smaller screen */

@media only screen and (max-width: 1320px) {
    .header-text-container{
        font-size: 5em;
    }
}

@media only screen and (max-width: 1155px) {
    .header-text-container{
        font-size: 4em;
    }
   
    .dropdown-content li a{
        font-size: 2em;
    }

    .dropdown-content li a:hover{
        font-size: 2.1em;
    }

    .nav-btn svg{
        width: 120px;
        height: 120px;
    }
    .close-btn{
        top: 20%;
    }
}

@media only screen and (max-width: 890px) {
    .header-text-container{
        font-size: 3em;
    }
    .nav-bar{
        width: 15%;
        padding: 0;
    }
    .nav-btn svg{
        width: 80px;
        height: 80px;
    }

    .close-btn{
        top: 16%;
    }
}

@media only screen and (max-width: 690px) {
    .header-text-container{        
        font-size: 2.5em;
        width: 70%;
    }

    .dropdown-content li a{
        font-size: 1.5em;
    }
    .dropdown-content li a:hover{
        font-size: 1.6em;
    }
    
    .phone-nav{
        width: 100%;
        visibility: visible;
    }
    .nav-btn{
        display: none;
    }

    .close-btn{
        top: 14%;
        right: 26%;
    }
}
@media only screen and (max-width: 490px) {
    .header-text-container{
        width: 85%;
        font-size: 2em;        
        margin-left: 5%;
        margin-top: 25%; 
    }

    .nav-bar{
        width: 6%;
    }
   
   .dropdown-content li a{
    font-size: 1.2em;
}

    .dropdown-content li a:hover{
    font-size: 1.3em;
}

.close-btn{
    top: 8%;
}

}

@media only screen and (max-width: 350px){
    .header-text-container{
        font-size: 1.5em;
    }
}