*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    /* border: 1px ridge red; */
}
:root{
    --header-font-size: clamp(0.5em, 1vw + 0.5rem, 1.5em);
    --header-font-size-hover: clamp(0.6em, 1vw + 0.6em, 1.7em);
    --sologan-font-size: calc(2em + 5vw);
    --quote-font-size: calc(0.8em + 1vw);
    --title-font-size: calc(1em + 2vw)
}
body{ 
    background: url(../Images/nightsky.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
/* ----------------------HEADER----------------------------- */
header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding: 3% 10%;
    transition: 0.6s;
    z-index: 10000;
}

header.sticky{
    background-color: rgb(187, 178, 178);
    padding: 1.5% 10%;
}

header ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header ul li {
    position: relative;
    list-style: none;
    margin: 0 15px;
    font-size: var(--header-font-size)
}
header.sticky li {
    color: #000;
}
header ul li a{
    text-decoration: none;
    font-size: var(--header-font-size);
    letter-spacing: 1px;
    transition: 0.6s;
}
header ul li a:hover{
    font-size: var(--header-font-size-hover);
    color: aqua;
}
/* ----------------------IMAGE-CONTAINER----------------------------- */
.main-container{
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.sologan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 1rem;
    align-items: center;
}

.sologan p {
    font-size: var(--sologan-font-size);
    text-transform: uppercase;
    letter-spacing: 8px;
}
.sologan p span{
    font-weight: bolder;   
}

.sologan .above{
    padding-left: 1.5em;
    /* padding-right: 1rem; */
    animation: toleft 3s;
    transition: 0.5s;
}

.sologan .below{
    animation: toright 3s;
    transition: 0.5s;
    padding-right: 1em;
}

@keyframes toleft{
  from{
    transform: translateX(-300%) ;
  } 
}

@keyframes toright{
    from{
      transform: translateX(300%) ;
    } 
  }

  /* ------------------------quote container----------------- */
 
.quote-container{
    margin: 1% 5%;
}
.quote, .author{
    font-style: italic;
    
}
.quote{
    font-size: var(--quote-font-size);
    /* padding: 1%; */
}
.author{
    text-align: end;
}

/* ----------------------IMAGE-CONTAINER----------------------------- */

.imgs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    transform-style: preserve-3d ;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002)

}
.imgs-container .box{
    width: 14vw;
    height: 14vw;
    position: relative;
}
.imgs-container .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    object-fit: cover;
}
.imgs-container:hover > :not(:hover){
    margin: 0 -20px;
    filter: drop-shadow(0 0 25px #000) drop-shadow(0 0 45px #000);
    transform: perspective(500px) rotateY(45deg) scale(0.95);
}
.imgs-container .box:hover ~ .box{
    transform: perspective(500px) rotateY(-45deg) scale(0.95);
}
.imgs-container .box:hover{
    transform: perspective(500px) rotateY(0) scale(1.5);
    z-index: 1000;
}

/*--------------------- newest-blog----------------------- */
.article-container{
    padding: 2rem;
   
}
.title{
    font-size: var(--title-font-size);
}
.articles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-template-rows: repeat(2, 300px);
}
.articles .article-box{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    padding: 2rem;

}
.articles .article-box img{
 
    width: 30%;
    /* min-width: 100px; */
    height: auto;
    
}
.articles .article-box p{
  
    width: 60%;
    letter-spacing: 2px;
    overflow: hidden;
}
.visit-blog{
    background-color: transparent;
    font-size: 1rem;
    font-style: italic;
    border: none;
    text-align: end;
    width: 100%;
}
.visit-blog:hover{
    color: aqua;
    font-size: 1.2rem;
}

/* ------------------------------------PROJECTS------------------------- */
.project-container, #contact{
    /* align-self: flex-start; */
    width: 100%;    
    padding: 2rem;    
}

.gallery{
    width: 65%;
    
    margin: 3rem auto;
    display: grid;
    /* justify-content: center; */
    gap: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
}
.img-box{
    width: 100%;
    height: 100%;
}
.gallery a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------CONTACT FORM------------------- */

.contact-info{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.form-container{
    width: 45%;
    max-width: 500px;
    background-color: hsl(0, 20%, 40%, .3);
    padding: 20px 30px;
    border-radius: 15px;
    margin-right: 4rem;
   
}
.form-input{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
}
.form-input > div{
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
}
.form-input h2{
    align-self: center;
    font-size: 2rem;
}
.form-input input,
textarea{
    background-color:  hsla(0, 2%, 62%, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 1rem;
    border: none;
}

.icon-contact{
    font-size: 2rem;
}

.form-input button{
    
    font-size: 1rem;
    width: min-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: hsla(0, 18%, 72%, 0.1);
    border: none;
}
.form-input button:hover, 
.form-input button:focus{
    color: yellow;
    transform: scale(1.1);
}
/* ----------------------------FOOTER-------------------------- */
.footer{
 width: 100%;
 padding-bottom: auto;
 text-align: center;
}


/* --------------------media querry------------------------ */

@media screen and (max-width: 1186px){
    .articles{
        display: flex;
        flex-direction: column;
    }
}
