
body {
    --background-color: white;
    --theme-background: orangered;
    --button-text-color: red;
    --transition-dalay: 1s;
    --rotation: 180deg;
    --sun-opacity: 1;
    --moon-opacity: 0;

    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.dark{
    --background-color: rgb(53, 57, 66);
    --theme-background: yellow;
    --button-text-color: var(--background-color);
    --transition-dalay: 1s;
    --rotation: 0deg; 
    --sun-opacity: 0;
    --moon-opacity: 1;

    background-color: var(--background-color);
    
}

svg {
    width: 32px;
    height: 32px;
    fill: var(--theme-background);
}

.toggle-button{
    padding: 0.2rem 0.5rem; 
    color: var(--button-text-color);
    transition: var(--transition-dalay)
}
.toggle-button:hover,
.toggle-button:focus{
    transform: scale(1.1);
}

