
body{
    --background-color: #2b2a2a;
    --theme-background: yellow;
    --button-text-color: #561C24;
    --transition-dalay: 1s;

    height: 100vh;
    margin: 0;
    padding: 2rem;
    display: flex;   
    justify-content: flex-end;
    background-color: var(--background-color);
    
}


body.light {
    --background-color: white;
    --theme-background: orangered;
    --button-text-color: #1F2544 ;

    background-color: var(--background-color);    
}

svg {
    width: 32px;
    height: 32px;
    fill: var(--theme-background);
}

.toggle-button{
    height: 50px;
    padding: 0.2rem 0.6rem; 
    margin-left: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #E0CCBE;
    color: var(--button-text-color);
    
    transition: var(--transition-delay);
    
}
.toggle-button:hover,
.toggle-button:focus{
    transform: scale(1.1);
}

